<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446080231387-lm99obr8tra6o2e9jsg55el73a9tvjit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446080231387-lm99obr8tra6o2e9jsg55el73a9tvjit</string>
	<key>API_KEY</key>
	<string>AIzaSyCd52ysNUnZbzlc9r6KTx9BuzDg43m1pfE</string>
	<key>GCM_SENDER_ID</key>
	<string>446080231387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.climb</string>
	<key>PROJECT_ID</key>
	<string>climb-dbc75</string>
	<key>STORAGE_BUCKET</key>
	<string>climb-dbc75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446080231387:ios:0c3b7dc1821b59639769fe</string>
	<key>DATABASE_URL</key>
	<string>https://climb-dbc75.firebaseio.com</string>
</dict>
</plist>